body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

}
header {
  background-color: #00529B;
  color: white;
  padding: 15px;
  text-align: center; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

header .logo {
  margin: 0 auto; 
}

header .logo h1 {
  margin: 0;
  font-size: 48px; 
  color: #ffeb3b; 
  transition: color 0.3s, font-size 0.3s; 
}

header .logo h1:hover {
  color: #ffa07a; 
  font-size: 60px; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-form {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  font-size: 14px;
  color: #555;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 14px;
  color: #555;
}

p a {
  color: #007BFF;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
