body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00529B;
    color: white;
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
    color: #ffeb3b; 
    transition: color 0.3s, font-size 0.3s; 
}

header .logo h1:hover {
    color: #ffa07a;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #ffeb3b; 
    color: #333; 
}

.image-gallery {
    padding: 20px;
}

.image-gallery h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #1e90ff;
    padding: 15px;
    margin: 20px 0;
    animation: titleEffect 3s ease-in-out infinite;
}

@keyframes titleEffect {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.image-gallery h2:hover {
    color: #fff; 
    transform: scale(1.1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.gallery {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.ride-card {
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    max-width: 300px; 
    margin: 10px; 
    transition: transform 0.3s; 
}

.ride-card:hover {
    transform: scale(1.05); 
}

.ride-card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
}

.ride-content {
    padding: 15px;
    font-size: 19px;; 
    
}

.ride-content h3 {
    margin: 0; 
    font-size: 1.5em; 
    
}

.ride-content p {
    font-size: 0.9em; 
    color: #555; 
    margin: 10px 0; 
}

.footer {
    background: #333; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
